<div class="footer-container">
  <div class="footer">
    <div class="logo-vert-container">
      <div class="logo-container">
        <div class="logo">
          <img src="/assets/logo-outline-white.svg" />
        </div>
      </div>
    </div>
    <div class="links-vert-container">
      <div class="links-container">
        <ul class="links">
          <li>Оценка на имот <i class="fa-solid fa-caret-right"></i></li>
          <li>Цени на имоти<i class="fa-solid fa-caret-right"></i></li>
          <li>Имоти<i class="fa-solid fa-caret-right"></i></li>
          <li>Наем<i class="fa-solid fa-caret-right"></i></li>
        </ul>
      </div>
    </div>
    <div class="contact">
      <div class="social">
        <img class="facebook" src="/assets/facebook.svg" />
        <img class="instagram" src="/assets/instagram.svg" />
        <img class="linked-in" src="/assets/linked-in.svg" />
      </div>
      <div class="e-mail-us">
        <img class="e-mail" src="/assets/e-mail.svg" />
        <a class="contact-us-link" href="mailto:team@ocenime.bg">
          Свържи се с нас
        </a>
      </div>

      <span class="contact-us"
        >Нашите оценки могат да бъдат ползвани като отправна точка по време на
        оценката на жилище, но не изразяват договорна цена. Те могат да ти
        помогнат да получиш независима, безпристрастна и актуална оценка на
        конкретно жилище. За оценка на качествени фактори като строителни
        материали, повреди в апартамента и други, моля, обърни се към брокера
        си.</span
      >
      <span class="copyright">© 2015-2020 ocenime.bg</span>
    </div>
  </div>
</div>
