:host {
  display: flex;
  flex-direction: column;

  .form {
    display: flex;
    flex-direction: column;

    .address-container {
      display: flex;
      flex: 1;
      .address {
        display: flex;
        flex: 1;
      }
    }

    .area-property-type {
      display: flex;
      .area {
        display: flex;
      }
    }

    .construction-type-construction-year {
      display: flex;
      .construction-year {
        display: flex;
      }
    }

    .floors-num-floors {
      display: flex;
      .floors {
        display: flex;
      }
      .num-floors {
        display: flex;
      }
    }

    .furnishing-condition {
      display: flex;
    }

    input {
      padding-right: 1em;
    }

    .direction {
      display: flex;
      flex-direction: column;
    }
  }

  .submit-button:hover {
    background-color: #06efce;
  }
}
