:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  &::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("/assets/hero-image.png");
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .nav {
    display: flex;
    justify-content: center;

    .nav-logo {
      display: flex;
      width: 80%;

      .logo {
        display: flex;
        flex: 0 1 100%;
        padding-top: 10px;
      }

      .menu {
        background: transparent;
        border: none;
        padding-top: 22px;

        .icon {
          color: #ffffff;
        }
      }
    }
  }

  .main {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;

    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 80%;

      .title-links {
        display: flex;
        flex-direction: column;
        height: 50%;
        width: 100%;

        .title {
          display: flex;
          width: 100%;
          height: 100%;
        }

        .sub-title {
          display: flex;
          width: 100%;
          height: 100%;
        }

        .links {
          display: flex;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
