<!-- Could be a component -->
<div class="nav">
  <div class="nav-logo">
    <div class="logo">
      <img src="/assets/logo-outline-white.svg" />
    </div>

    <button class="menu">
      <mat-icon class="icon">menu</mat-icon>
    </button>
  </div>
</div>

<main class="main">
  <div class="container">
    <div class="title-links">
      <div class="title">
        Без значение дали си наемател, наемодател, или куповач
      </div>
      <div class="sub-title">
        тук ще намериш всичко, което би искал да знаеш за твоето жилище!
      </div>
      <!-- Needs to be a component -->
      <div class="links">
        <div class="links-container">
          <div class="buy">КУПИ</div>
          <div class="rent">НАЕМИ</div>
          <div class="appraise" routerLink="appraise">ОЦЕНИ</div>
        </div>
      </div>
    </div>
  </div>
</main>
<!-- Could be a component -->
<div class="learn-more">
  <mat-icon class="arrow">arrow_back_ios</mat-icon>
</div>
