// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ocenime-primary: mat.define-palette(mat.$indigo-palette);
$ocenime-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ocenime-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ocenime-theme: mat.define-light-theme(
  (
    color: (
      primary: $ocenime-primary,
      accent: $ocenime-accent,
      warn: $ocenime-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($ocenime-theme);

@font-face {
  font-family: "sofia-sans";
  src: url("/assets/SofiaSans-Regular.woff") format("woff");
}

/* You can add global styles to this file, and also import other style files */
html {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  width: 100%;
  height: 100%;

  body {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;

    app-root {
      width: 100%;
    }
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
