:host {
  .nav {
    display: flex;
    justify-content: center;

    .nav-logo {
      display: flex;
      width: 80%;

      .logo {
        display: flex;
        flex: 0 1 100%;
        padding-top: 10px;

        .svg {
          .g {
            .path {
              fill: url(#gradient);
            }
          }
        }
      }

      .menu {
        background: transparent;
        border: none;
        padding-top: 22px;

        .icon {
          color: #0070d0;
        }
      }
    }
  }

  .share {
    display: flex;

    i {
      color: #0070d0;
    }

    .text {
      text-align: left;
      font: normal normal normal 14px/20px "sofia-sans";
      letter-spacing: 0px;
      color: #0070d0;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}
