:host {
  display: flex;
  flex: 1 0 100%;
  flex-direction: column;

  .nav {
    display: flex;
    justify-content: center;

    .nav-logo {
      display: flex;
      width: 80%;

      .logo {
        display: flex;
        flex: 0 1 100%;
        padding-top: 10px;
      }

      .menu {
        background: transparent;
        border: none;
        padding-top: 22px;

        .icon {
          color: #ffffff;
        }
      }
    }
  }

  .slogan {
    display: flex;
    flex-direction: column;
    align-items: center;
    font: normal normal bold 48px/60px "sofia-sans";
    letter-spacing: 0px;
    color: #ffffff;

    .top {
      display: flex;
      text-align: center;
    }

    .bottom {
      display: flex;
      text-align: center;
      font: normal normal 800 24px/30px "sofia-sans";
    }
  }

  .links {
    display: flex;
    width: 100%;
    padding-top: 45px;
    flex: 0 0 10%;
    justify-content: center;

    .links-container {
      display: flex;
      justify-content: center;
      flex: 0 1 50%;

      .buy {
        display: flex;
        flex: 0 0 20%;
        border: 2px solid #ffffff;
        border-right: none;
      }

      .rent {
        display: flex;
        flex: 0 0 20%;
        border: 2px solid #ffffff;
        border-right: none;
      }

      .appraise {
        display: flex;
        flex: 0 0 20%;
        border: 2px solid #ffffff;
        cursor: pointer;

        &.active {
          background-color: #06efce;
        }
      }

      div {
        color: #ffffff;
        height: 50px;
        font-size: 16px;
        font-family: sofia-sans, sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  &::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("/assets/hero-image.png");
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  // .wrapper {
  // display: flex;
  .form-map {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;

    .wrapper {
      display: flex;
      background-color: #ffffff;
      width: 55%;
      min-height: 592px;
      min-width: 960px;
      justify-content: center;

      .form-container {
        display: flex;
        flex-direction: column;
        height: 50%;
        align-self: center;

        .form {
          display: flex;
        }
      }

      .map-container {
        display: flex;
        flex: 1;
        max-width: 456px;
        max-height: 456px;
        #map {
          display: flex;
          flex: 1;
        }
      }
    }
    // }
  }

  .learn-more {
    display: flex;
    justify-content: center;
    flex: 1 0 7%;
    .arrow {
      display: flex;

      color: #ffffff;
      transform: rotate(-90deg);
    }
  }
}
