:host {
  display: flex;
  flex: 1 0 100%;
  flex-direction: column;

  &::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("/assets/hero-image.png");
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  // .wrapper {
  // display: flex;
  .form-map {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;

    .wrapper {
      display: flex;
      background-color: #ffffff;
      width: 55%;
      min-height: 592px;
      min-width: 960px;
      justify-content: center;

      .form-container {
        display: flex;
        flex-direction: column;
        height: 50%;
        align-self: center;

        .form {
          display: flex;
        }

        .direction {
          display: flex;
          flex-direction: column;
        }

        .submit-button:hover {
          background-color: #06efce;
        }
      }

      .map-container {
        display: flex;
        flex: 1;
        max-width: 456px;
        max-height: 456px;
        #map {
          display: flex;
          flex: 1;
        }
      }
    }
    // }
  }

  .learn-more {
    display: flex;
    justify-content: center;
    flex: 1 0 7%;
    .arrow {
      display: flex;

      color: #ffffff;
      transform: rotate(-90deg);
    }
  }
}
