<div class="nav">
  <div class="nav-logo">
    <div class="logo">
      <img src="/assets/logo-outline-white.svg" />
    </div>

    <button class="menu">
      <mat-icon class="icon">menu</mat-icon>
    </button>
  </div>
</div>

<div class="slogan">
  <div class="top">Истински слоган</div>
  <div class="bottom">Истински супер гига мига таглайн</div>
</div>

<!-- Needs to be a component -->
<div class="links">
  <div class="links-container">
    <div class="buy">КУПИ</div>
    <div class="rent">НАЕМИ</div>
    <div class="appraise" [class.active]="active">ОЦЕНИ</div>
  </div>
</div>
<!-- <div class="wrapper"> -->
<div class="form-map">
  <div class="wrapper">
    <div class="form-container">
      <app-appraisal-input-form class="form"></app-appraisal-input-form>

      <!-- Could be a component -->
      <div class="direction">
        <h5>Изложение</h5>
        <div class="checkboxes">
          <mat-checkbox color="primary" formControlName="north"
            >Север</mat-checkbox
          >
          <mat-checkbox color="primary" formControlName="south"
            >Юг</mat-checkbox
          >
          <mat-checkbox color="primary" formControlName="east"
            >Изток</mat-checkbox
          >
          <mat-checkbox color="primary" formControlName="west"
            >Запад</mat-checkbox
          >
        </div>
      </div>
      <!-- Should use a seperate directive here for hover effect -->
      <button class="submit-button" mat-flat-button color="primary">
        ПРОДЪЛЖИ
      </button>
    </div>
    <div class="map-container">
      <div id="map"></div>
    </div>
  </div>
</div>
<!-- </div> -->
<div class="learn-more">
  <mat-icon class="arrow">arrow_back_ios</mat-icon>
</div>
